$color-primary: #0ecdab;
$color-primary-dark: #048069;
$color-primary-light: #00ebbf;

$color-secondary: #1a8fe3;

$color-action: #cc420e;
$color-action-dark: #802300;

$color-black: #27302e;
$color-black-2: #445552;

$color-grey: #8ea4a0;
$color-grey-dark: #5b716d;
$color-grey-light: #c6d2d0;

////////////////////////////////
///// FONT VARIABLES

$font-heading: 'Poppins', sans-serif;
$font-paragraph: 'Raleway', sans-serif;
